.isabelledev-title {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    top: 1rem;
    left: 0;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    filter: drop-shadow(0 0 0.5rem #222);
}

.isabelledev-title i {
    top: 0;
    left: 0;
    font-size: 1.5rem;
    padding: 0rem 0.25rem 0rem 1rem;
    color: white;
}

.background-image-overlay {
    position: absolute;
    font-family: 'Inter', sans-serif;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100%;
}

.landing-page {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}

.inline-image {
    width: 20px;

}

.inline-link {
    text-decoration: underline;
    color: #dbf5d7;
    font-weight: 500;
}

strong {
    font-weight: 500;
}

.landing-page-content {
    position: relative;
    text-align: center; 
    left: 50%;
    top: 5rem;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%); /* for IE 9 */
    -webkit-transform: translate(-50%, 0%); /* for Safari */
  
    /* optional size in px or %: */
    width: 50rem;
    height: 100%;
}

.landing-page-content p {
    filter: drop-shadow(0 0 0.5rem #222);
    color: #FAF9EA;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.achievements-title {
    font-size: 3rem;
    color: #F8ECD3;
    font-weight: 600;
}

.achievements {    
    border-radius: 1rem;
    width: 100%;
}

#display-buttons {
    background-color: rgba(34, 34, 34, 0.212);
    padding: 1rem;
    border-radius: 1rem;
}

#display-menu {
    
    width: 100%;
    height: 90%;
}

.display-clickables {

    width: 2rem;
    font-size: 2rem;
    padding: 40px 10px 25px 10px;
    filter: drop-shadow(0 0 0.5rem #222);
    color: #eeb7ff;
    text-decoration: none;
}

.display-clickables:hover {
    color: #f5d3ff;
}


#isabelle-main-page-title {
    filter: drop-shadow(0 0 0.5rem #222);
    color: #F8ECD3;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 5rem;
}

.icon {
    font-size: 2rem;
    filter: drop-shadow(0 0 0.5rem #222);
    color: #98ccd8;
    text-decoration: none;
}

.icon:hover {
    color: #C9F5FF;
}

.landing-page-social-icons {
    font-size: 2rem;
    filter: drop-shadow(0 0 0.5rem #222);
    color: #F8ECD3;
    text-decoration: none;
}

.display-styling {
    padding: 0rem 4rem 4rem 4rem;
}

.display-styling h1 {
    text-align: left;
}

.display-styling h1 {
    color: #F8ECD3;
    font-size: 4rem;
}

.social-icon {
    color: #C9F5FF;
}

.social-icon:hover {
    color: #98ccd8;
}

.information-page {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden;  */
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing:border-box;
    height:100%;
    width: 100%;
    background-image:url(../images/gura_background_blurred.jpg);
    background-position:center;
    background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed
}


@media(max-width:1000px){
    .landing-page-content {
        width: 90%;
    }
    .isabelledev-title {
        display: none;
    }
    .display-styling {
        padding: 0rem 1rem 1rem 1rem;
    }
    .achievements-title {
        font-size: 2rem;
    }
}